<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h5>name</h5>  <h5><%= @user.name %></h5>
  <h5>introduction</h5>  <h5><%= @user.introduction %></h5>
  <% if @user == current_user %>
    <p><%= link_to 'edit', edit_user_path(@user) %></p>
  <% end %>
</div>