<div class="notice">
  <%= flash[:notice] %>
</div>

<div class="t-title">
  <h1>welcome to Bookers!!</h1>
</div>
<div class="sentence1">in bookers,<br>
</div>
<div class="sentence2">
  you can share and exchange your opinions , impressions , and emotions<br>
</div>
<div class="sentence3">
  about various books!<br>
</div>

